/*CONFIG AND GENERAL STYLE*/
/*General colors palette*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-size: 15px;
  padding-top: 50px;
  padding-bottom: 0;
  background: #43a0f2;
}
h4 {
  margin-top: 30px;
}
h3 {
  margin-top: 40px;
}
.row {
  margin-right: 0;
}
.show-grid [class^="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar-inverse {
  background: #2A2C34;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
#contenido {
  background: #FFF;
  padding-left: 25px;
  padding-top: 20px;
}
#sidebar {
  padding-right: 0;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
/*BANNER*/
.jumbotron {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  background: url(../images/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 470px;
}
.jumbotron .content {
  padding-top: 60px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.jumbotron .content h1 {
  color: #FFFFFF;
  font-size: 40px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  margin-top: 150px;
}
.jumbotron .content h2 {
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.jumbotron .content h2 a {
  color: #FFF;
}
/* END OF BANNER*/
/* SIDEBAR STYLE*/
.affix {
  position: fixed;
  top: 86px;
  width: 24%;
}
.bs-sidenav {
  background-color: #43a0f2;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.bs-sidenav a {
  color: #fff;
}
.bs-sidenav > li > a {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.bs-sidenav > li:first-child > a {
  border-top: 0;
}
.bs-sidenav > li:last-child > a {
  border-bottom: 0;
}
.bs-sidenav > li a:hover,
.nav > li a:focus {
  background-color: #3693e5;
  text-decoration: none;
}
.bs-sidenav > li > ul > li > a:hover,
.nav > li a:focus {
  background-color: #227fd1;
  text-decoration: none;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  background-color: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  font-weight: bold;
}
.bs-sidebar .nav > .active > ul {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 10px 0;
  margin: 0;
}
.bs-sidebar .nav > .active > ul > li.active a {
  background: rgba(0, 0, 0, 0.1);
}
.bs-sidebar .nav .nav {
  display: none;
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-top: 5px;
}
#contenido .row {
  margin-left: 0;
}
#contenido img {
  margin-bottom: 20px;
}
.alert a {
  font-weight: 600;
}
.clear {
  clear: both;
}
/*RESPONSIVE*/
/* Large devices (large desktops, 1200px and up) */
/* Medium devices (desktops, 992px and up) */
/* Small devices (tablets, 768px and up) */
/* Extra small devices (phones, 480px and up) */
/* Extra extra small devices (phones, up to 480px) */
